global
       daemon
       maxconn 10000

defaults
       timeout connect 500s
       timeout client 5000s
       timeout server 1h

listen riak-in
        bind *:8098
        server riak1 %HOST%:8098 check port 8098

listen riak-in-2
        bind *:8087
        server riak2 %HOST%:8087 check port 8087

listen riak-in-3
        bind *:8099
        server riak2 %HOST%:8099 check port 8099

listen riak-in-4
        bind *:4369
        server riak2 %HOST%:4369 check port 4369

listen riak-in-5
        bind *:6000
        server riak2 %HOST%:6000 check port 6000

listen riak-in-6
        bind *:6001
        server riak2 %HOST%:6001 check port 6001

